.container{
    background-color:antiquewhite;
    height : auto;
   /* align-items: center; */
    display:flex; 
   /* flex-wrap: wrap;*/
    justify-content: center;


}

h1{
    background-color: blue;

   text-align: center;
}


.box{
    height:140px;
    width:140px;
    border: 2px solid black;
    margin:20px;

}

#box1{
    background-image: url("/image/sanemi.jpg");
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px grey;
    flex-shrink: 1;

}

#box2{
    background-image: url("/image/tanjiro.jpg");
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px grey;
    flex-shrink: 2;

}

#box3{
    background-image: url("/image/giyu.jpg");
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px grey;
    flex-shrink: 3;
}

#box4{
    background-image: url("/image/akaza.jpg");
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px grey;
    flex-shrink: 6;
}

#box5{
    background-image: url("/image/kokushibo.jpg");
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px grey;
}

#box6{
    background-image: url("/image/obanai.jpg");
    background-size: cover;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 5px grey;
    flex-shrink: 5;
}






